@import "tailwindcss";

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@theme {
    --color-accent: #aa3bff;
    --color-accent-light: #c084fc;
}

@layer base {
    body {
        margin: 0;
        background-color: var(--color-white);
        color: var(--color-gray-600);
    }

    [data-theme="dark"] body {
        background-color: var(--color-gray-900);
        color: var(--color-gray-400);
    }

    #root {
        max-width: 1200px;
        margin: 0 auto;
        min-height: 100svh;
    }
}
